<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558985101546-5ue1askcct2e615m45pis42uatk4bdci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558985101546-5ue1askcct2e615m45pis42uatk4bdci</string>
	<key>API_KEY</key>
	<string>AIzaSyDGo6400OoAJ_fj_pe42yWa2J1kg4jvdlM</string>
	<key>GCM_SENDER_ID</key>
	<string>558985101546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tesamedia.radio</string>
	<key>PROJECT_ID</key>
	<string>tesa-radio</string>
	<key>STORAGE_BUCKET</key>
	<string>tesa-radio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558985101546:ios:d79c568414d65e1a815793</string>
	<key>DATABASE_URL</key>
	<string>https://tesa-radio-default-rtdb.firebaseio.com</string>
</dict>
</plist>