ion-content {
    width: 100%;
    height: 100%;
    section.loadingSection {
        text-align: center;
    
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        ion-img {
            width: 50%; 
            margin-left: auto; 
            margin-right: auto;
        }
    }
}
