<ion-app>

  <ion-menu contentId="menu-content" menuId="main-menu" side="end" type="overlay">
   
    <ion-content>

      <div class="menu-content-header-bg"></div>
      <div class="menu-content-header-content">
        <img src="assets/icon/favicon.png" alt="Tesa Radio" srcset="">
        <ion-label>
          <h1>Tesa <span style="color: black;">Radio</span></h1>
          <p>The TesPreneur Radio for Entrepreneurs</p>
        </ion-label>
      </div>

      <div class="live-radio-BTN">
        <ion-menu-toggle class="ion-no-border">
          <ion-button mode="md" routerLink="/" class="ion-no-border">
            <ion-icon name="musical-notes-sharp"></ion-icon>
            Live Radio
          </ion-button>
        </ion-menu-toggle>
      </div>

      <ion-list lines="none" class="menu-items">
        <ion-menu-toggle>
          <ion-item routerLink="/podcasts" [routerLinkActive]="['active']">
            <ion-icon slot="start" name="radio"></ion-icon>
            <ion-label>Podcasts</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/shows" [routerLinkActive]="['active']">
            <ion-icon slot="start" name="apps"></ion-icon>
            <ion-label>Shows</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item button routerLink="/tesa-bot" [routerLinkActive]="['active']">
            <ion-icon slot="start" name="search-circle"></ion-icon>
            <ion-label>Tesa Bot</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/shout-out" [routerLinkActive]="['active']">
            <ion-icon slot="start" name="megaphone"></ion-icon>
            <ion-label>Shout Out</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle *ngIf="tesaChat.display">
          <ion-item routerLink="/browser-view" [queryParams]="{ url: tesaChat.url, pageTitle: tesaChat.pageTitle, display: tesaChat.display }" [routerLinkActive]="['active']"> 
            <ion-icon slot="start" name="chatbox-ellipses"></ion-icon>
            <ion-label>Chat</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle *ngIf="marketPlace.display">
          <ion-item routerLink="/browser-view" [queryParams]="{ url: marketPlace.url, pageTitle: marketPlace.pageTitle, display: marketPlace.display }" [routerLinkActive]="['active']">
            <ion-icon slot="start" name="cart"></ion-icon>
            <ion-label>Market Place</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/about" [routerLinkActive]="['active']">
            <ion-icon name="business"></ion-icon>
            <ion-label>About Us</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/contact" [routerLinkActive]="['active']">
            <ion-icon name="chatbubble-ellipses-sharp"></ion-icon>
            <ion-label>Contact Us</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/account" [routerLinkActive]="['active']" *ngIf="currentUser.name">
            <ion-avatar>
              <img alt="user profile picture" [src]="currentUser.profilePhotoURL == '' || currentUser.profilePhotoURL == undefined || currentUser.profilePhotoURL == null ? 'assets/images/avatar.svg' : currentUser.profilePhotoURL" />
            </ion-avatar>

            <ion-label> {{ currentUser.name || "Guest" }} </ion-label>
          </ion-item>

          <ion-item routerLink="/account" [routerLinkActive]="['active']" *ngIf="!currentUser.name">
            <ion-icon name="apps-outline"></ion-icon>
            <ion-label> Profile </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle *ngIf="!firebaseService.isCurrentUserLoggedIn">
          <ion-item routerLink="/auth/login" [routerLinkActive]="['active']">
            <ion-icon name="log-in-outline"></ion-icon>
            <ion-label> Login </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle *ngIf="firebaseService.isCurrentUserLoggedIn">
          <ion-item (click)="logout()" [routerLinkActive]="['active']">
            <ion-icon name="log-out-outline"></ion-icon>
            <ion-label> Log Out </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>
