<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!modalOpened" class="backBTNarrow">
  		<ion-back-button style="color: white;" icon="arrow-back-outline" text="" slot="start"></ion-back-button>
		</ion-buttons>

    <ion-buttons slot="start" *ngIf="modalOpened" (click)="closeTesaBotModal()">
  		<ion-button>
        <ion-icon slot="icon-only" name="close" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <span style="color: #de2341;">Tesa </span> <span style="color: white;">Bot</span>
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" style="color: white;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header class="condense-header" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <span style="color: #de2341;">Tesa </span> <span style="color: white;">Bot</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <section class="response-question">
    <ul #responseView [scrollTop]="responseView.scrollHeight">
      <li *ngFor="let chat of chatListArray">
        <div class="response" *ngIf="chat.response">
          {{ chat.response }}
        </div>

        <div class="question" *ngIf="chat.question">
          {{ chat.question }}
        </div>
      </li>

      <li class="loadingLi" *ngIf="submitted">
        <div class="loadingContainer">
          <div class="loadingio-spinner-dual-ball-quu6ubs8yr">
            <div class="ldio-8bhcs03yepb">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </section>

</ion-content>


<!-- tesa bot question -->
<ion-footer [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <form #tesaBotForm="ngForm" (ngSubmit)="onSubmitTesaBot(tesaBotForm.value)">
      <div class="wrapper">
        <ion-textarea 
          mode="md" 
          required
          [autofocus]="true"
          [spellcheck]="true"
          [autoGrow]="true"
          rows="1"
    
          placeholder="Tesa Bot - Ask Anything..."
          id="tesaBot-input"
          name="tesaBot"
          #tesaBot="ngModel"
          [(ngModel)]="tesaBotQuestion"
          aria-label="tesaBot" aria-describedby="tesaBot"
        ></ion-textarea>

        <ion-button block type="submit" [disabled]="tesaBotForm.invalid || submitted" mode="md">
          <ion-icon name="send"></ion-icon>
          <i *ngIf="submitted" class="loader"></i>
        </ion-button>
      </div>
      
    </form>

  </ion-toolbar>
</ion-footer>
