<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
  		<ion-back-button style="color: white;" icon="arrow-back-outline" text="" slot="start"></ion-back-button>
		</ion-buttons>

    <ion-title>
      Account
    </ion-title>

    <ion-buttons slot="end">
      <ion-icon routerLink="/account/settings" name="settings-outline"></ion-icon>

      <ion-menu-button menu="main-menu" style="color: white;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="condense-header" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <main  *ngIf="!loadingStatus">
    <ion-item button detail="false" lines="full" class="profileHeader">
      <ion-thumbnail slot="start">
        <img alt="profile picture of {{ user.name }}" style="border-radius: 50%;" [src]="user.profilePhotoURL || 'assets/images/avatar.svg'" />
      </ion-thumbnail>
  
      <ion-label class="ion-text-wrap" style="padding-bottom: 15px;">
        <h3> {{ user.name }} </h3>
        <!-- <p>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </p> -->
      </ion-label>
    </ion-item>

    <div class="lastPlayedShow-Podcast" *ngIf="audioService.lastPlayed.length">
      <h3>Previously Listen Audio</h3>
      
      <swiper-container [modules]="swiperModules"  [breakpoints]="swiperBreakPoints" [loop]="true">
        <swiper-slide *ngFor="let preAudio of audioService.lastPlayed; let i=index">
          <ion-card>
            <img alt="Image of previously listen audio" [src]="preAudio.image || '/assets/images/imgPlaceholder.png'">
            <ion-card-header>
              <ion-card-subtitle>
                <div style="max-height: 75px; overflow: hidden; text-overflow: ellipsis !important; width: inherit;">
                  <p style="margin: 0; padding: 0;">
                    {{ preAudio.title }}
                  </p>
                </div>
              </ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <div class="playPauseBtnWave">
                <!-- <span *ngIf="!preAudio.loadingState" (click)="playPause(preAudio.isPlaying ? 'pause' : 'play', preAudio, i)"> -->
                <span *ngIf="preAudio.audio.readyState >= 1" (click)="playPause(preAudio.isPlaying ? 'pause' : 'play', preAudio, i)">
                  <ion-icon [name]="preAudio.isPlaying ? 'pause' : 'play'"></ion-icon>
                </span>
                
                <!-- <span *ngIf="preAudio.loadingState" (click)="playPause('pause', preAudio, i)"> -->
                <span *ngIf="preAudio.audio.readyState < 1">
                  <ion-icon slot="start" name="reload" class="rotateLoadingIcon"></ion-icon>
                </span>

                <div style="margin-left: 10px;" *ngIf="preAudio.isPlaying"> {{ preAudio.currentTime }} </div>
              </div>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
  
      </swiper-container>
    </div>
  
    <ion-list lines="none">
      <ion-item button detail="true" (click)="openCreatePodcastModal()">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
  
        <ion-label class="ion-text-wrap">
          Create Podcast
        </ion-label>
      </ion-item>
  
      <ion-item button detail="true" routerLink="my-podcasts">
        <ion-icon name="mic-circle-outline" slot="start"></ion-icon>
  
        <ion-label class="ion-text-wrap">
          My Podcasts
        </ion-label>
      </ion-item>
    
      <!-- <ion-item button detail="true" routerLink="feedbacks">
        <ion-icon name="chatbox-outline" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">
          Feedbacks
        </ion-label>
      </ion-item> -->

      <ion-item button detail="true" routerLink="/account/settings">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
  
        <ion-label class="ion-text-wrap">
          Settings
        </ion-label>
      </ion-item>
    </ion-list>
  </main>

  <!-- Loading Sections -->
  <aside class="loadingContainerSection" *ngIf="loadingStatus">
    <section class="loadingSection">
      <ion-img src="assets/lottie/animation_500_lhcdnv18.gif"></ion-img>
    </section>

    <div class="lastPlayedShow-Podcast">
      <ion-skeleton-text [animated]="true" style="width: 70%"></ion-skeleton-text>
      
      <swiper-container [breakpoints]="swiperBreakPoints" [loop]="true">
        <swiper-slide>
          <ion-card>
            <ion-skeleton-text [animated]="true" style="width: 100%; height: 100px;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-card-header>
          
            <ion-card-content>
              <div class="playPauseBtnWave">
                <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
              </div>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
        
        <swiper-slide>
          <ion-card>
            <ion-skeleton-text [animated]="true" style="width: 100%; height: 100px;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-card-header>
          
            <ion-card-content>
              <div class="playPauseBtnWave">
                <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
              </div>
            </ion-card-content>
          </ion-card>
        </swiper-slide>

        <swiper-slide>
          <ion-card>
            <ion-skeleton-text [animated]="true" style="width: 100%; height: 100px;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-card-header>
          
            <ion-card-content>
              <div class="playPauseBtnWave">
                <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
              </div>
            </ion-card-content>
          </ion-card>
        </swiper-slide>

        <swiper-slide>
          <ion-card>
            <ion-skeleton-text [animated]="true" style="width: 100%; height: 100px;"></ion-skeleton-text>
            <ion-card-header>
              <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            </ion-card-header>
          
            <ion-card-content>
              <div class="playPauseBtnWave">
                <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
              </div>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </div>

    <ion-item button detail="false" lines="full" class="profileHeader">  
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>

      <ion-label class="ion-text-wrap" style="padding-bottom: 15px;">
        <ion-skeleton-text [animated]="true" style="width: 70%"></ion-skeleton-text>

        <p>
          <ion-skeleton-text [animated]="true" style="width: 85%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>

    <ion-list lines="none">
      <ion-item button detail="true">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>

        <ion-label class="ion-text-wrap">
          <ion-skeleton-text [animated]="true" style="width: 70%"></ion-skeleton-text>
        </ion-label>
      </ion-item>

      <ion-item button detail="true" routerLink="my-podcasts">
        <ion-skeleton-text [animated]="true" style="width: 20%"></ion-skeleton-text>

        <ion-label class="ion-text-wrap">
          <ion-skeleton-text [animated]="true" style="width: 70%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    
      <ion-item button detail="true" routerLink="feedbacks">
        <ion-skeleton-text [animated]="true" style="width: 20%"></ion-skeleton-text>

        <ion-label class="ion-text-wrap">
          <ion-skeleton-text [animated]="true" style="width: 70%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>

  </aside>

</ion-content>


<!-- <swiper-slide>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="playPauseBtnWave">
        <span>
          <ion-icon name="play"></ion-icon>
        </span>

        <div [id]="'showsWaveformId-'+'1'"></div>
      </div>
    </ion-card-content>
  </ion-card>
</swiper-slide> -->
