<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="backBTNarrow">
  		<ion-back-button style="color: white;" icon="arrow-back-outline" text="" slot="start"></ion-back-button>
		</ion-buttons>

    <ion-title>
      <span style="color: #de2341;"> 404 </span> <span style="color: white;">Error </span>
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" style="color: white;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-grid class="wrapper-outter">
    <ion-row>
      <ion-col size="12" class="yCenter">
        <div class="wrapper-inner">

          <div class="ion-text-center">
            <!-- <h1 style="font-size: xx-large;">Error <span style="color: #de2341;">404! </span></h1> -->

            <!-- ./../../../assets/images/error404.png -->
            <ion-img src="assets/images/not-found.gif"></ion-img>

            <h3>Page <span style="color: #de2341;">Not</span> Found!!!</h3>

            <ion-button color="danger" (click)="goHomeBTN()">
              <ion-icon slot="start" name="home"></ion-icon>
              Home
            </ion-button>
          </div>
  
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
