<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" class="backBTNarrow">
  		<ion-back-button style="color: white;" icon="arrow-back-outline" text="" slot="start"></ion-back-button>
		</ion-buttons>

    <ion-title>About Us</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" style="color: white;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="condense-header" collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">
        About Us

        <!-- <div class="divide-line">____</div> -->
      </ion-title>
    </ion-toolbar>
  </ion-header>



   
  <div class="content-header ion-text-center">
    <h1></h1>

  </div>

  <ion-grid>
    <ion-row style="color: white; text-align: center; margin-top: 30px;">
      <ion-col size="12">
        <div class="about-text">
          We are driven by outcomes, not by how much work we do. 
          This is why we never stop innovating and trying new things to 
          make sure we help businesses, brands and enterpreneurs grow their business.
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row class="our-story" style="color: white; text-align: center;">
      <ion-col size="12">
        <h1 style="font-weight: bolder;">Our <span style="color: #de2341;">Story</span></h1>

        <div>
          We're a team of young <span style="font-weight: bolder;">enterpreneurs</span>, devoted to 
          <span style="font-weight: bolder;">inspire</span> and <span style="font-weight: bolder;">motivate</span> other enterpreneurs
          towards <span style="color: #de2341; font-weight: bolder;">achiving goals</span>.
          <br>
          With a large community of <span style="font-weight: bolder;"> over 1 million active followers and listerners</span>.
          <br>
        </div>

        <div style="margin: 20px auto;">
          <ion-icon name="heart" style="color: #de2341; font-size: 25px;"></ion-icon>
        </div>

        <div class="">
          We <span style="color: #de2341; font-weight: bolder;">Inspire </span> 
          <span style="font-weight: bolder;"> 
            Ideas, Positivity, Greatness, Possibilities, Motivations, Productivity,
          </span> and many more.
        </div>
        
      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>
