<ion-header [translucent]="true" class="ion-no-border authHeaderGlobalStyle">
  <ion-toolbar>
		<ion-buttons slot="start" class="backBTNarrow">
  		<ion-back-button style="color: white;" icon="arrow-back-outline" text="" slot="start"></ion-back-button>
		</ion-buttons>

    <ion-title>
      <span style="color: var(--primary);"> New Password </span>
    </ion-title>


    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu" style="color: white;"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="authGlobalStyle">

  <ion-header class="condense-header" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        New Password
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <main>
    <form #newPasswordForm="ngForm" (ngSubmit)="onSubmitNewPassword(newPasswordForm.value)">
            
      <div data-info="password input">
        <ion-item lines="none" class="formEnd">
          <ion-input 
            mode="md" 
            required 
            id="password-input"
            minlength="6" 
            type="password"
            autocomplete="password" 

            label="Password *" 
            labelPlacement="floating" 
            placeholder="Enter your password"

            [errorText]="password.hasError('required') ? 'Please enter your password.' : password.hasError('minlength') ? 'Incorrect password.' : ''"
            
            name="password"
            #password="ngModel"
            ngModel
            aria-label="password" aria-describedby="password-Help password"
          ></ion-input>
        </ion-item>
      </div>
            
      <div data-info="confirm-password input">
        <ion-item lines="none" class="formEnd">
          <ion-input 
            mode="md" 
            required 
            id="confirm-password-input"
            minlength="6" 
            type="password"

            label="Confirm Password *" 
            labelPlacement="floating" 
            placeholder="Confirm your password"

            [errorText]="confirmPassword.hasError('required') ? 'Please re-enter your password.' : confirmPassword.hasError('minlength') || confirmPassword.value != password.value ? 'Passwords do not match.' : ''"
            
            name="confirmPassword"
            #confirmPassword="ngModel"
            ngModel
            aria-label="confirm-password" aria-describedby="confirm-password-Help confirm-password"
          ></ion-input>
        </ion-item>
      </div>

      <!-- <div class="errorContainer" *ngIf="error.status"> -->
      <div class="responseContainer {{ response.status ? 'successMsg' : 'errorMsg' }}" *ngIf="response.display">
        <p>
          {{ response.message }}
        </p>
      </div>

      <div class="bottom-text-writeup">
        <p routerLink="/auth/forgot-password" class="forgot-password"> Forgotten password?</p>
        <!-- or <br> -->
        <p>Don't have an account? <a routerLink="/auth/signup" class="signup-text">signup</a> </p>
      </div>


      <ion-button block type="submit" [disabled]="newPasswordForm.invalid || submitted" mode="md" style="--background: var(--primary);">
        newPassword <i *ngIf="submitted" class="loader"></i>
      </ion-button>
    </form>
  </main>

</ion-content>
