<ion-grid fixed>
  <ion-row class="grid-view" *ngIf="viewType">

    <!-- <ion-col size="4" *ngFor="let showPodcastView of childPodcastViews | slice: 0:9; let i=index"> -->
    <ion-col size="4" sizeMd="3" sizeXl="2"  button *ngFor="let podcast of childPodcastViews; let i=index">
      <div class="wrap" [routerLink]="podcast.id" [queryParams]="podcast">
        <!-- <ion-icon name="videocam-outline"></ion-icon> -->
        <ion-avatar style="margin: 5px auto; padding: 0;">
          <img [src]="podcast.image" alt="podcast image">
        </ion-avatar>

        {{ podcast.title }}

        <div class="episode-stat" *ngIf="accountPage">
          <div class="episode">
            <small *ngIf="podcast.episodes">
              <ion-icon name="analytics" size="small"></ion-icon> 
              {{ podcast.episodes }}
            </small>
          </div>

          <div class="stat"> 
            <small *ngIf="podcast.viewStat">
              <ion-icon name="stats-chart" size="small"></ion-icon> 
              {{ podcast.viewStat }}
            </small>
          </div>
        </div>

      </div>
    </ion-col>

  </ion-row>

  <ion-row class="list-view" *ngIf="!viewType">
    <ion-col size="12">
      <ion-list lines="none">
        <ion-item 
          button detail="false" 
          *ngFor="let podcast of childPodcastViews; let i=index"
          [routerLink]="podcast.id" [queryParams]="podcast"
        >
          <ion-thumbnail slot="start">
            <img alt="podcast image" [src]="podcast.image" />
          </ion-thumbnail>

          <ion-label class="ion-text-wrap">
            <p> {{ podcast.title }} </p>

            <div class="episode-stat" *ngIf="accountPage">
              <div class="episode">
                <small *ngIf="podcast.episodes">
                  <ion-icon name="analytics" size="small"></ion-icon> 
                  {{ podcast.episodes }}
                </small>
              </div>

              <div class="stat"> 
                <small *ngIf="podcast.viewStat">
                  <ion-icon name="stats-chart" size="small"></ion-icon> 
                  {{ podcast.viewStat }}
                </small>
              </div>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
