<ion-content class="ion-padding">

  <form #changePasswordForm="ngForm" (ngSubmit)="onSubmitChangePassword(changePasswordForm.value)">
    <h3>Change Password</h3>
    <div data-info="currentPassword input">
      <ion-item lines="none">
        <ion-input 
          mode="md" 
          required 
          minlength="6" 
          type="password" 

          label="Current Password *" 
          labelPlacement="floating" 
          placeholder="Enter your current password"

          [errorText]="currentPassword.hasError('required') ? 'Please enter your current password.' : currentPassword.hasError('minlength') ? 'Incorrect password.' : ''"

          id="currentPassword-input" 
          name="currentPassword"
          #currentPassword="ngModel"
          ngModel
          aria-label="currentPassword" aria-describedby="currentPassword-Help currentPassword"
        ></ion-input>
      </ion-item>
    </div>

    <div data-info="newPassword input">
      <ion-item lines="none">
        <ion-input 
          mode="md" 
          required 
          id="newPassword-input"
          minlength="6" 
          type="password"

          label="New Password *" 
          labelPlacement="floating" 
          placeholder="Enter your new password"

          [errorText]="newPassword.hasError('required') ? 'Please enter your new password.' : newPassword.hasError('minlength') ? 'password characters too weak and short.' : ''"
          
          name="newPassword"
          #newPassword="ngModel"
          ngModel
          aria-label="newPassword" aria-describedby="newPassword-Help newPassword"
        ></ion-input>

      </ion-item>
    </div>
    
    <div data-info="confirmNewPassword input">
      <ion-item lines="none">
        <ion-input 
          mode="md" 
          required 
          id="confirmNewPassword-input"
          minlength="6" 
          type="password"

          label="Confirm New Password *" 
          labelPlacement="floating" 
          placeholder="Confirm your new password"

          [errorText]="confirmNewPassword.hasError('required') ? 'Please re-enter your new password.' : confirmNewPassword.hasError('minlength') ? 'password do not match.' : confirmNewPassword.value != newPassword.value ? 'password do not match' : ''"
          
          name="confirmNewPassword"
          #confirmNewPassword="ngModel"
          ngModel
          aria-label="confirmNewPassword" aria-describedby="confirmNewPassword-Help confirmNewPassword"
        ></ion-input>

      </ion-item>
    </div>



    <!-- <div class="errorContainer" *ngIf="error.status"> -->
    <div class="responseContainer {{ modalResponse.status ? 'successMsg' : 'errorMsg' }}" *ngIf="modalResponse.display">
      <p>
        {{ modalResponse.message }}
      </p>
    </div>

    <ion-button (click)="cancel()" [disabled]="modalFormSubmitted" mode="md" style="--background: var(--tertiary);">Cancel</ion-button>

    <ion-button block type="submit" [strong]="true" [disabled]="changePasswordForm.invalid || modalFormSubmitted" mode="md" style="--background: var(--primary);">
      Submit <i *ngIf="modalFormSubmitted" class="loader"></i>
    </ion-button>

  </form>
  


</ion-content>